<template>
   <div>
     <app-header></app-header> 
     <app-home></app-home>
     <app-footer></app-footer>
   </div>
</template>

<script>  
    import Header from './components/header.vue';
    import Footer from './components/footer.vue';
    import Home from './components/home.vue';
    
    
    export default {
      components:{
          'app-header':Header,
          'app-footer':Footer,
          'app-home':Home
      },
      data () {
        return {
          
        }
      }
    }
</script>

<style>
    
</style>
